<!--
TEXT QUESTION
-->
<div class="question-area">
  <div id="text" class="text-question-input question-input">
    <h3><%= question.prompt %></h3>
    <div class="question-section">
      <textarea cols="50" rows="4" name="questions[<%=question.id%>][answer]"><%= question.placeholder %></textarea>
    </div>
    <input type="hidden" class="question-type" value="text">
  </div>
</div>
