<!--
SINGLE SELECT QUESTION
-->
<div class="question-area">
  <h3><%= question.prompt %></h3>
  <div id="single" class="single-select-question-input question-input">
    <div class="question-section">
      <% question.choices.each do |choice| %>
      <label>
        <input type="radio" name="1" />
        <span class="select-label"><%= choice.text %></span>
      </label>
      <% end %>
      <input type="hidden" class="question-type" value="single">
    </div>
  </div>
</div>
