<!--
TEXT QUESTION
-->
<div class="question-area">
  <h3>Text Question:</h3>
  <div id="text" class="text-question-input question-input">
      <span>Prompt:</span>
      <input name="" class="question-prompt" type="text" placeholder="What are some of the best things?">
    <div class="question-section">
      <span>Placeholder Text:</span>
      <input name="" class="question-placeholder" type="text" placeholder="Please list no more than three types of motorcycles.">
    </div>
    <input type="hidden" class="question-type" value="text">
  </div>
  <div class="text-question-preview question-preview">
  </div>
</div>
