<div class="narnia">
  <h1>WHOA WHERE AM I?</h1>
  <% if flash[:alert] %>
    <div class="flash">
      <p class="alert"><%= flash[:alert] %></p>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="flash">
      <p class="notice"><%= flash[:notice] %></p>
    </div>
  <% end %>
</div>
