<div class="user_stuff">
  <h1><%= @this_user.username %></h1>
</div>
<div class="a_b">
  <div class="a_col">
    <h3><a href="/users/<%= @current_user.id %>/surveys">View my surveys</a></h3>
  </div>
  <div class="b_col">
    <h3><a href="/users/<%= @current_user.id %>/responses">View my responses</a></h3>
  </div>
</div>
