<h1><%= @this_user.username %>'s Survey Responses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= link_to response.survey.title, user_response_url(@current_user, response) %></td>
        <% if @my_survey %>
          <td><%= link_to '♻︎ Del', user_response_url(response.user, response), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
