<%= form_for [@current_user, @survey] do |f| %>

  <div class="question-area">
      <h2>Every good survey has a title</h2>
    <input type="text" name="survey[title]">
    <input type="hidden" value="<%= @current_user.id %>" name="user[id]">
  </div>

  <div class="question-area" id="add-question">
    <div class="muted">
      <h3>➕ Add Question</h3>
    </div>
  </div>
  <span class="submit-button">
    <%= f.submit "Create that survey ➡" %>
  </span>

<% end %>
<script src="/assets/new-survey.js"></script>
