/*
This file contains CSS pertaining to layout template files, such as views/layouts/application.html.
 */

 :root {
   --accent-text: #F66;
   --muted: #324;
   --muted-text: #888;
   --highlight: #525;
   --highlight-text: #66F;
 }

body {
  background-color: #EEE;
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--highlight-text);
}

.a_b {
 margin-top: 80px;
}

.a_b > .a_col {
  display: inline-block;
  width: 50%;
}

.a_b > .b_col {
  display: inline-block;
  float: right;
  width: 50%;
}
#add-question {
  cursor: copy;
  display: block;
}

.btn {
  display: inline-block;
  background-color: #EFEFEF;
  border: 1px solid #FFF;
  color: black;
  padding: 5px;
  margin: 3px;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #DEDEDE;
}

.card {
  background: #F4F4F4;
  border: 1px solid rgba(0,0,0,0);
  display: block;
  padding: 20px;
  position: relative;
  margin: 5px;
  text-align: center;
}
.card > .card-corner {
  display: block;
  position: absolute;
  right: 3px;
  top: 3px;"
}

.card > p, .card > h3 {
  margin: 5px;
}

.card:hover {
  margin: 4px;
  background: #F8F8F8;
  border: 1px solid #DDD;
}

.card.muted {
  background: #D8D8D8;
  border: 1px dashed #AAA;
  padding: 5px;
}

.card.muted:hover {
  border: 1px dashed #444;
  background-color: #AAA;
  margin: 4px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1.muted, h2.muted, h3.muted, h4.muted, h5.muted, h6.muted, p.muted, span.muted {
  text-shadow: 0px 0px 2px var(--muted-text);
  color: rgba(0,0,0,0.1);
}

.heading {
  color: white;
  font-size: 2em;
  transition-duration: 1s;
}

.heading:hover {
  color: #CCC;
  text-shadow: -4px 4px 3px #444;
}

input[type=submit] {
  background-color: white;
  border: 1px solid #aaa;
  height: 40px;
  margin: 5px 5px;
}

input[type=text], input[type=password] {
  min-width: 400px;
  max-width: 100%;
}

label {
  font-family: Lato;
  font-weight: light;
  letter-spacing: 0.05em;
  line-height: 1.5em;
}

.list-container {
  width: 60%;
}

main {
  padding: 40px 80px;
}

.nav-area {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.nav-button {
  display: inline;
  background: #EEE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 10px;
  padding: 10px 5px;
  bottom: 0;
}

.nav-buttons {
  list-style: none;
  margin: 9px;
}

.question-area {
  background: #F0F0F0;
  border: 1px solid rgba(0,0,0,0.2);
  display: block;
  padding: 20px;
  margin: 5px;
}

.question-input > span {
  margin-left: 26px;
}

.question-area:hover {
  margin: 4px;
  background: #FAFAFA;
  border: 1px solid #DDD;
}

.question-area.muted {
  background: #D8D8D8;
  border: 1px dashed #AAA;
  padding: 5px;
}

.question-area.muted:hover {
  border: 1px dashed #444;
  background-color: #AAA;
}

.question-input {
  background: #F8F8F8;
  border: 1px solid rgba(240,240,240,1);
  display: block;
  padding: 20px;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%
}

.question-preview {
  display: inline-block;
  float: right;
  width: 50%;
}

.question-prompt {
  margin-left: 26px;
}

.question-section {
  display: inline-block;
  width: 50%;  
}

.response-list {
  display: inline-block;
  float: right;
}

.survey {
  margin: 80px 0px;
}

.survey-list {
  display: inline-block;
}

.survey-title {
  color: var(--accent-text);
  font-weight: 800;
}

textarea {
  background-color: var(--muted);
  border-radius: 10px;
  cursor: text;
  color: var(--muted-text);
  font-family: Lato;
  font-weight: 100;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  padding: 10px 5px 5px 15px;
  border-style: none;
  transition-duration: 1s;
}

textarea:focus {
  border-radius: 5px;
  box-shadow: 1px 3px 1px 2px #AAA;
  background-color: var(--highlight);
  color: #EFEFEF;
}

.thanks {
  font-weight: 400;
  line-height: 1.5em;
}

.top-bar {
  background-color: black;
  padding: 10px 40px;
  position: relative;
  top: 0;
  max-height: 10%;
  width: 100%;
}

.top-bar > .logo {
  display: inline-block;
}

.top-bar > .logo > h1 {
  color: white;
}

.top-bar > .pull-right {
  border: none;
  bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  position: absolute;
  right: 80px;
}

.top-bar > .pull-right > * {
  border: 0;
  margin: 0;
}
.user-info {
  display: inline-block;
  margin: 0px 20px;
}

.user-info > * > *, .user-info > * {
  color: #DDD;
  text-decoration: none;
}

#welcome-link:hover {
  color: #66F;
}
